{% extends "base.html" %}
{% block title %}TEAM Buzz Steering Team{% endblock %}
{% block content %}
	<h1>Contact Us!</h1>
	
	<h2>Advisory Staff</h2>
	<p>Michael Wheatley<br />Executive Director<br /><a href="mailto:mwheatley3@gatech.edu">mwheatley3@gatech.edu</a></p>
	<p>Billiee Pendleton-Parker<br />Faculty Advisor<br /><a href="mailto:bp4@mail.gatech.edu">bp4@mail.gatech.edu</a></p>

	<h2>Service Projects Team</h2>
	<p>Carson Moore<br />Service Projects Director<br /><a href="mailto:c_moore42@gatech.edu">c_moore42@gatech.edu</a></p>
	<p>Benjamin Bowers<br />Chair of Project Tools<br /><a href="mailto:"bbowers6@gatech.edu">bbowers6@gatech.edu</a></p>
	<p>Marleen Kanagawa<br />Chair of Project Coordinators<br /><a href="mailto:mkanagawa@gatech.edu">mkanagawa@gatech.edu</a></p>

	<h2>Recruitment Team</h2>
	<p>Chris Hauser<br />Chair of Recruitment<br /><a href="mailto:chrishauser@gatech.edu">chrishauser@gatech.edu</a></p>
	<p>Kate Terry<br />Chair of T-shirts/Community Relations<br /><a href="mailto:kate.terry@gatech.edu">kate.terry@gatech.edu</a></p>
	<p>Ericka McCloskey<br />Chair of Alumni Involvement<br /><a href="mailto:emccloskey11@gatech.edu">emccloskey11@gatech.edu</a></p>
	<p>Chelsea McEnroe<br />Chair of Student Involvement<br /><a href="mailto:chelsea.mcenroe@gmail.com">chelsea.mcenroe@gmail.com</a></p>
	<p>Rohan Thakur<br />Chair of Brand Management<br /><a href="mailto:rthakur3@mail.gatech.edu">rthakur3@mail.gatech.edu</a></p>
	<p>Michael Hodgson<br />Chair of Information Technology<br /><a href="mailto:mhodgson@gatech.edu">mhodgson@gatech.edu</a></p>

	<h2>Logistics Team</h2>
	<p>Janki Vashi<br />Chair of Logistics<br /><a href="mailto:jvashi3@gatech.edu">jvashi3@gatech.edu</a></p>
	<p>Pedro Garcia<br />Co-Chair of Celebrations<br /><a href="mailto:pgarcia6@mail.gatech.edu">pgarcia6@mail.gatech.edu</a></p>
	<p>Nancy Kim<br />Co-Chair of Celebrations<br /><a href="mailto:nkim39@gatech.edu">nkim39@gatech.edu</a></p>

	<h2>Finance Team</h2>
	<p>Bill May<br />Chair of Finance<br /><a href="mailto:wmay3@gatech.edu">wmay3@gatech.edu</a></p>
	<p>Nate Muller<br />Co-Chair of Corporate Sponsorship<br /><a href="mailto:npmuller@gatech.edu">npmuller@gatech.edu</a></p>
	<p>Carrie Stallings<br />Co-Chair of Corporate Sponsorship<br /><a href="mailto:cstallings3@gatech.edu">cstallings3@gatech.edu</a></p>
{% endblock %}	