{% extends "base.html" %}
{% block title %}TEAM Buzz Event Information{% endblock %}
{% block content %}
	<h1>What is TEAM Buzz?</h1>
	
	<h2>What You Are Getting Yourself Into:</h2>
	<p>The morning of TEAM Buzz, 10.10.09, will kickoff at 8:00 AM at the Campanile. President Bud Peterson will be our morning speaker and Chick-fil-a biscuits, bagels, Krispy Kreme doughnuts, as well as drinks will be provided in the morning as breakfast. From approximately 9:00 AM to 12:00pm, students will be at their respective project sites doing service. The celebrations after students return from their service projects will start around 12:00 PM.</p>
	
	<p> At the TEAM Buzz celebrations, we will be serving Dominoes pizza to all and giving away free TEAM Buzz 2009 t-shirts to all volunteers! For entertainment, the Student Center's Homecoming Committee will be kicking-off the beginning of Homecoming week at the TEAM Buzz Celebrations with a Homecoming Carnival including booths and inflatable games, as well as offering popcorn, cotton candy, and snow cones!</p>
	
	<h2>History of TEAM Buzz</h2>
	<p>In 1997, a modern tradition was introduced to an Institution already rich in tradition. TEAM Buzz (Tech Enhancing Atlanta Metropolitan)
was brought to the Georgia Tech campus as a new initiative in philanthropy. Serving as an Institute-wide community service day, TEAM Buzz brought
students, faculty, staff, and alumni together and dispersed them throughout the Atlanta area, participating in everything from tree plantings to 
soup kitchen operation to providing all volunteers for 5K runs for local charities to playing basketball with physically challenged youth.</p>

<p>Since its inception, TEAM Buzz has grown bigger and better every year, and TEAM Buzz 2009 is no exception! Over twice the number of
original volunteer positions will be available, with nearly 2000 volunteers choosing from over 35 projects, catering to many different interests, 
ideals, and abilities. From staffing food banks to working at the Boys and Girls Clubs of Atlanta to helping the elderly revitalize their homes to
teaching the uses of the Internet -- TEAM Buzz 2009 has something for everyone. This venture is poised to become one of the largest events the
Georgia Tech community has ever seen, ensuring this as a staple in campus life for years to come -- truly making service the most recent 
"Tech Tradition."</p>

<p>TEAM Buzz began with a mission to promote a sense of community and philanthropic spirit among the various groups and organizations at Georgia
Tech through service to the Atlanta community. Participation has proven to be an important educational experience, as well as an opportunity for 
personal growth - whether the volunteer is a student, faculty, staff, alumna, or alumnus.</p>

{% endblock %}	