{% extends "base.html" %}
{% block title %}TEAM Buzz Sponsors{% endblock %}
{% block content %}
	<h1>TEAMBuzz 2009 Sponsors</h1>
	<ul id="sponsors">
		<li>
			<table width="100%">
			<tr><td rowspan="4"><a href="http://www.gtalumni.org"><img src="/images/alumnilogo.png" width="150px" height="65px" alt="logo" /></a></td><th>Name</th><td>Georgia Tech Alumni Association</td></tr>
			<tr><th>Contact</th><td>Amy Lancaster</td></tr>
			<tr><th>Phone</th><td>404.894.0759</td></tr>
			<tr><th>Website</th><td><a href="http://www.gtalumni.org">http://www.gtalumni.org</a></td></tr>
			</table>
		</li>
		<br />
		<li>
			<table width="100%">
			<tr><td rowspan="4"><a href="http://www.importantstuff.gatech.edu"><img src="/images/AuxLogo.jpg" width="150px" height="78px" alt="logo" /></a></td><th>Name</th><td>Georgia Tech Buzzfunds</td></tr>
			<tr><th>Contact</th><td>Melissa Moore</td></tr>
			<tr><th>Phone</th><td>404.894.4990</td></tr>
			<tr><th>Website</th><td><a href="http://www.importantstuff.gatech.edu">http://www.importantstuff.gatech.edu</a></td></tr>
			</table>
		</li>
	</ul>
{% endblock %}	